<% MACRO link_to(text, link) BLOCK -%>
<a href="<% link | url %>"><% text | html %></a>
<%- END -%>
<div id="edit" class="card bg-light">
  <div class="card-header"><h2>Blogs</h2></div>
  <div class="card-body">
<dl>
<% FOREACH blog IN blogs -%>
  <dt><% link_to( blog.title, blog.url ) %></dt>
  <dd><% blog.description %></dd>
<% END -%>
</dl>

<% link_to("Create New", new_blog_url) %>
</div>
</div>
