<% MACRO link_to(text, link) BLOCK -%>
<a href="<% link | url %>"><% text | html %></a>
<%- END -%>
<h1>Blogs</h1>

<dl>
<% FOREACH blog IN blogs -%>
  <dt><% link_to( blog.title, blog.url ) %></dt>
  <dd><% blog.description %></dd>
<% END -%>
</dl>

<% link_to("Create New", new_blog_url) %>
